//处理距离数据
function math_distance(val) {
  if (val) {
    return Math.round(val / 1000);
  } else {
    return 0;
  }
}
//匹配数组
function arr_includes(value, arr) {
  if (arr.length) {
    return arr.indexOf(value) == -1 ? false : true;
  } else {
    return false;
  }
}
//匹配关闭
function macth_close(arr1, arr2) {
 if(!arr1){
   return []
 }
  var newArr = arr1.map(function (item) {
    var itemObj = item;
    itemObj.entrance = true;//入口
    itemObj.exit = true;//出口
    arr2.forEach(function (item2) {
      if (item2.roadDirId == item.roadDirId) {
        if (item2.inOut == '出口') {
          itemObj.exit = false;
        } else {
          itemObj.entrance = false;
        }
      }
    });
    return itemObj
  })
  return newArr;
}

function splitTiem(val){
   if(val){
     return val.split(' ')[0]
   }else{
     return ''
   }
}
function getDuration(second) {
  var days = Math.floor(second / 86400);
  var hours = Math.floor((second % 86400) / 3600);
  var minutes = Math.floor(((second % 86400) % 3600) / 60);
  var seconds = Math.floor(((second % 86400) % 3600) % 60);
  hours=hours+days*24;
  // + seconds + "秒
  var duration = hours + "小时" + minutes + "分";
  return duration;
}
module.exports.getDuration = getDuration;
module.exports.math_distance = math_distance;
module.exports.arr_includes = arr_includes;
module.exports.macth_close = macth_close;
module.exports.splitTiem = splitTiem;
